@model Vidly.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for customer:</h2>

<text>@Model.Name</text>

<p>@Html.ActionLink("Back to Customers","Index","Customers")</p>
